@use './base';

.photo-list__item {
  margin: 24px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid lightgray;
  max-width: fit-content;
  list-style-type: none;
  background-color: base.$light-bg_card;
  box-shadow: 2px 2px 5px lightgray;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  box-shadow: 2px 2px 5px lightgray;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
  margin-top: 8px;
}

.photo-list__user-info {
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.photo-list__user-location {
  color: #838383;
  font-weight: 400;
}

.dark {
  .photo-list__item {
    background-color: base.$dark-bg_card;
    box-shadow: 2px 2px 5px base.$dark-bg;
    -webkit-box-shadow: 2px 2px 5px base.$dark-bg;
    -moz-box-shadow: 2px 2px 5px base.$dark-bg;
    border: 1px soild base.$dark-bg !important; 
  }

  .photo-list__image {
    box-shadow: 5px 5px 5px base.$dark-bg;
    -webkit-box-shadow: 5px 5px 5px base.$dark-bg;
    -moz-box-shadow: 5px 5px 5px base.$dark-bg;
  }

  .photo-list__user-details {
    color: base.$dark-primary;
  }
}